@{
    ViewBag.Title = "Index";
}


<h1>Welcome to Admin</h1>
<div class="span4">
    <ul class="nav nav-tabs nav-stacked">
        <li>
            @Html.ActionLink("Manage Products", "Index", "Product")
        </li>
        <li>
            @Html.ActionLink("Manage Weekly Ad", "ManageBrochure", "Product")
        </li>
        <li>
            @Html.ActionLink("Upload Images", "Index", "UploadFiles")
        </li>
        <li>
            @Html.ActionLink("Approve Reviews", "ApproveReviews","Product")
        </li>
    </ul>
</div>
