@{
    ViewBag.Title = "Tool & Equipment Repair Services";
}
<div>
    <h2 class="pull-left">Tool & Equipment Repairs</h2>
    <h5 class="pull-right">
        <a href="#myRepairApptModal" role="button" data-toggle="modal">Schedule Repair Appointment</a>
    </h5>
    <div class="clearfix"></div>
</div>
<p>
    Tool Depot has the capacity to repair all major brands of tools and equipment. All tools and equipment are thoroughly diagnosed before any work is begun. 
    All repairs are done in-house, by our own qualified mechanics, who have a wealth of experience in this field, and who are always up-to-date with the new technologies. 
</p>
<p>
    As a result, repair turn-around time and quality work is always kept at the highest desirable level possible-something that benefits both our customers and our company. 
    Each repaired tool or equipment is carefully checked before it is returned to the customer. 
</p>
<p>
    Call us at 718-786-1500 or fill out this form to <a href="#myRepairApptModal" role="button" data-toggle="modal">schedule a repair appointment</a>
</p>

<h4>Tool Depot Repair Center Advantages</h4>
<ul>
    <li>Trained technicians
    </li>
    <li>Most tools repaired within 3 days
    </li>
    <li>Lowest rates in the Long Island City area
    </li>
    <li>Free repair estimates
    </li>
    <li>Monday - Friday, 8:00 am - 5:00 pm EST
    </li>
</ul>
