@model ToolDepot.Models.FeaturedCategoriesModel

@if(Model.FeaturedCategory.Any())
{

for (int i = 0; i < 2; i++)
 {
     
 }

}
<div class="featured">
    <div class="span3">
        <h4>Product Category</h4>
        <ul class="unstyled">
            <li><a href="/" >Product 1</a></li>
            <li><a href="/" >Product 1</a></li>
            <li><a href="/" >Product 1</a></li>
            <li><a href="/" >Product 1</a></li>
        </ul>
    </div>
    <div class="span3">
        <h4>Product Category</h4>
        <ul class="unstyled">
            <li><a href="/" >Product 1</a></li>
            <li><a href="/" >Product 1</a></li>
            <li><a href="/" >Product 1</a></li>
            <li><a href="/" >Product 1</a></li>
        </ul>
    </div>
    <div class="span3">
        <h4>Product Category</h4>
        <ul class="unstyled">
            <li><a href="/" >Product 1</a></li>
            <li><a href="/" >Product 1</a></li>
            <li><a href="/" >Product 1</a></li>
            <li><a href="/" >Product 1</a></li>
        </ul>
    </div>
    <div class="span3">
    <h4>Product Category</h4>
    <ul class="unstyled">
        <li><a href="/" >Product 1</a></li>
        <li><a href="/" >Product 1</a></li>
        <li><a href="/" >Product 1</a></li>
        <li><a href="/" >Product 1</a></li>
    </ul>
</div>
    </div>