
@*<div id="myCarousel" class="carousel slide hide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item">
            <div class="homepage-image-holder">
                <div class="top-row">
                    <div class="top-column first-image">
                        <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    </div>
                    <div class="top-column second-image">
                        <img src="/Content/images/Brochure/ScissorLift.jpg" class="home-image" />
                    </div>
                    <div class="top-column third-image">
                        <img src="/Content/images/Brochure/BobCatS650.jpg" class="home-image" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bottom-row">
                    <div class="column">
                        <img src="/Content/images/Brochure/BobCatE35.jpg" class="home-image" />
                    </div>
                    <div class="column">
                        <img src="/Content/images/Brochure/ImerMightSmall50.jpg" class="home-image" />
                    </div>
                    <div class="column">
                        <img src="/Content/images/Brochure/ImerMightSmall50.jpg" class="home-image" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="carousel-caption">
                <h4>Power Tools: Drills, etc</h4>
                <p>Description</p>
            </div>
        </div>
        <div class="item">
            <div class="homepage-image-holder">
                <div class="first-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="second-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="third-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="fourth-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="fifth-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
            </div>
            <div class="carousel-caption">
                <h4>Machinery Tools: Pressure Washers, etc</h4>
                <p>Description</p>
            </div>
        </div>
        <div class="item">
            <div class="homepage-image-holder">
                <div class="first-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="second-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="third-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="fourth-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
                <div class="fifth-image">
                    <img src="/Content/images/Brochure/BoomLift.jpg" class="home-image" />
                    <div>Boom Lift</div>
                </div>
            </div>
            <div class="carousel-caption">
                <h4>Eqiupment: Lifts, etc</h4>
                <p>Description</p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>*@
@*<script>
    $(".carousel-inner .item:first-child").addClass("active");
</script>*@